.mx{
  margin: 0 10px;
}

.accordion {
  width: 90%;
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.accordion-heading {
  text-align: center;
  margin-bottom: 1rem;
  color: #333;
}

.item {
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  background: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
}

.header  button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #007bff;
  transition: transform 0.2s ease;
}

.info {
  margin: 0.5rem 0 0;
  font-size: 0.9rem;
  color: #555;
}



main {
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
  max-width: 480px;
  margin: 10px auto;
}
.img-container {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.person-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #ccc;
}

.quote-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #f9f9f9;
  border-radius: 50%;
  padding: 5px;
}

.author {
  font-size: 1.2rem;
  font-weight: bold;
}

.job {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.info {
  font-size: 0.85rem;
  color: #666;
  margin-bottom: 1.5rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn-container  button {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
}

.btn-hipster {
  margin-top: 1rem;
  background: #49a6e9;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn-hipster:hover {
  background: #2179b5;
}

code {
  background-color: #f4f4f4;
  padding: 10px;
  display: block;
  border-radius: 5px;
  overflow-x: auto;
  white-space: pre-wrap;
}
.task-input {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.task-input input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

.task-input button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.task-input button:hover {
  background-color: #0056b3;
}

.todo-list {
  max-height: 300px;
  overflow-y: auto;
}

.todo-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}

.todo-item.completed .task-text {
  text-decoration: line-through;
  color: gray;
}

.checkmark {
  cursor: pointer;
}

button {
  padding: 5px 10px;
  background-color: #430cf7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 4px ;
}

button:hover {
  background-color: #c82333;
}


stopwatch-title {
  font-size: 24px;
  font-weight: bold;
}

.stopwatch-time {
  font-size: 20px;
  font-family: monospace;
}

.stopwatch-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.start-stop-button, .reset-button {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  color: white;
}

.start-stop-button {
  background-color: #007bff;
}

.start-stop-button:hover {
  background-color: #0056b3;
}

.reset-button {
  background-color: #dc3545;
}

.reset-button:hover {
  background-color: #a71d2a;
}
